$apt update && apt upgrade
$apt install python && apt install git
$git clone https://github.com/LhansBeutik/PersibJuara
$cd PersibJuara
$ls
README PERSIB JUARA BY LHANS BEUTIK
$python PersibJuara.py
SELAMAT DATANG WAHAI PEMUDA INDONESIA
JANGAN LANGGAR PERINTAH INI:
1.Bersenang-senang lah di dunia Maya dan dunia nyata
2.Incarlah sesuatu yang mustahil
3.Jangan lupa shalat 5 waktu
$Exit
$login
